@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url("styles/home.css");
@import url("styles/curriculo.css");


:root {
    --cor-back: #181817;
    --cor-back-hover:#2a321d;
    --cor-escrita: #d4d4c1;
    --cor1: #1a9911; 
    --cor2: #2358ad;
    --cor3: #cd432e;
    --cor4: #b33591;
    --fonte-krona-one: 'Krona One', sans-serif;
    --fonte-montserrat: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-preto);
    color: var(--cor-escrita);
}

.rodape {
    background-color: var(--cor-cinza);
    border: 3px solid var(--cor-azul-escuro);
    color: var(--cor-escrita);
    text-align: center;
    font-family: var(--fonte-montserrat);
    font-size: 1.2rem;
    padding: 1rem;
    font-weight: 500;
}

