.curriculo__conteudo-container {
    margin-bottom: 4rem;
}


.curriculo__conteudo-titulo {
    color: var(--cor2);
    font-weight: 550;
    font-size: 2.1rem;
    margin: 0 0.5%;
    padding: 0 9%;
}


.curriculo__conteudo-texto {
    margin: 0 0.5% 0.8% 4%;
    padding: 0.6% 9%;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--cor4);
    font-family: var(--fonte-montserrat);
}

.curriculo__conteudo-areas {
    margin: 0.5% 9.5% 2% 12%;
    padding: 0.5% 0.7%;
    display: block;
    width: 80%;
}

.curriculo__conteudo-lista {
    text-decoration: none;
    list-style-type: none;
}

.curriculo__conteudo-titulo-area {
    color: var(--cor4);
    font-size: 1.6rem; 
    font-weight: 520;
    font-family: var(--fonte-montserrat);
}

.lista-item {
    font-weight: 500;
    font-size: 1.5rem;
    font-family: var(--fonte-montserrat);
}


.lista-link {
    text-decoration: none;
    color: var(--cor1);
}

.lista-link:hover {
    color: var(--cor2);
}

.link_horas {
    color: var(--cor3);
}

.link_horas:hover {
    color: var(--cor2);
}

#ultimo-bloco-areas {
    margin-bottom: 30rem;
}

@media (max-width: 1300px) {
    .curriculo__conteudo-titulo {
        margin: 5% 0.5% 1% 0.5%;
        color: var(--cor2);
        font-size: 1.7rem;
        font-weight: 600;
    }

    .curriculo__conteudo-texto {
        margin: 0 0.5% 5% 0.5%;
        font-size: 1.25rem;
    }

    .lista-item {
        font-size: 1.25rem;
        margin: 0 0.5% 5% 0.5%;
    }

    .curriculo__conteudo-areas {
        width: 80%;
        margin: 0.5% 9.5% 4% 9.5%;
        padding: 2% 2%;
      
    }

    .curriculo__conteudo-titulo-area {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

}    

